/node_modules
/public/hot
#/public/product/image/web
#/public/product/image/square
#/public/product/image/original
#/public/product/image/thumb
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
